# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=hostmybash

# Domain (default: endever.in)
MAIN_HOST=yourdomain.com

# Set automatically by deployment (development | production)
NODE_ENV=production
